- var slides = (data && data.pageData && data.pageData.welcomeArea && data.pageData.welcomeArea.slides) ? data.pageData.welcomeArea.slides : [];
//-- ****** Welcome Post Area Start ******
section.welcome-post-sliders.owl-carousel
	if slides.length >= 1
		each slide in slides
			//-- Single Slide
			.welcome-single-slide
				//-- Post Thumb
				a(href='/views/post/' + slide.project.postId)
					img(src=slide.thumb.image alt=slide.thumb.alt)
				//-- Overlay Text
				.project_title
					.post-date-comments.d-flex
						a(href='#')= moment(slide.project.date, moment.ISO_8601).format('ll')
						a(href='#')= slide.project.numComments
					a(href='/views/post/' + slide.project.postId)
						h5= slide.project.postTitle